<!DOCTYPE html>
<html>
  <head>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
   <script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
   <script src="/application.js" type="text/javascript"></script>
   <style> #counter {font-size:400px;text-align:center;}</style>
  </head>

  <body>
    <h1>Workout</h1>
    <div id="counter"></div>
    <audio id="player"></audio>
  </body>
</html>

